/* @tailwind base; */

.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgba(64, 64, 64, var(--tw-bg-opacity));
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(38, 38, 38, var(--tw-bg-opacity));
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.h-7 {
  height: 1.75rem;
}

.h-full {
  height: 100%;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.ml-auto {
  margin-left: auto;
}

.p-1 {
  padding: 0.25rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-1\.5 {
  padding: 0.375rem;
}

.p-3\.5 {
  padding: 0.875rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

* {
  --tw-shadow: 0 0 #0000;
}

* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.select-none {
  user-select: none;
}

.visible {
  visibility: visible;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
  --topNavH: 48px;
  --sideNavW: 200px;
}

#c {
  position: absolute;
  width: calc(100% - var(--sideNavW));
  height: calc(100% - var(--topNavH));
  bottom: 0;
  right: 0;
}

.topNav {
  position: absolute;
  height: var(--topNavH);
  left:0;
  right:0;
  top:0;
}

.sideNav {
  position: absolute;
  top: var(--topNavH);
  left: 0;
  bottom: 0;
  width: var(--sideNavW);
}

#labels > div {
  position: absolute;
  color: white;
}

.btn {
  cursor: pointer;
  background-color: transparent;
}

.btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(82, 82, 82, var(--tw-bg-opacity));
}

.btn {
  fill: currentColor;
  --tw-text-opacity: 1;
  color: rgba(229, 229, 229, var(--tw-text-opacity));
}

.btn:hover {
  --tw-text-opacity: 1;
  color: rgba(229, 229, 229, var(--tw-text-opacity));
}

.btn-light {
  cursor: pointer;
  background-color: transparent;
}

.btn-light:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(212, 212, 212, var(--tw-bg-opacity));
}

.btn-light {
  fill: currentColor;
  --tw-text-opacity: 1;
  color: rgba(64, 64, 64, var(--tw-text-opacity));
}

.btn-light:hover {
  --tw-text-opacity: 1;
  color: rgba(64, 64, 64, var(--tw-text-opacity));
}

.btn-green {
  cursor: pointer;
  background-color: transparent;
}

.btn-green:hover {
  background-color: transparent;
}

.btn-green {
  fill: currentColor;
  --tw-text-opacity: 1;
  color: rgba(229, 229, 229, var(--tw-text-opacity));
}

.btn-green:hover {
  --tw-text-opacity: 1;
  color: rgba(167, 243, 208, var(--tw-text-opacity));
}

.tooltip {
  position: fixed;
  display: block;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  visibility: hidden;
  border: solid 1px white;
}

.arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
  border: solid 6px transparent;
  border-bottom-color: white;
  border-top: none;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
