.bg-transparent {
  background-color: transparent;
}

.bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(82, 82, 82, var(--tw-bg-opacity));
}

.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgba(64, 64, 64, var(--tw-bg-opacity));
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(38, 38, 38, var(--tw-bg-opacity));
}

.bg-green-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(5, 150, 105, var(--tw-bg-opacity));
}

.hover\:bg-gray-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(115, 115, 115, var(--tw-bg-opacity));
}

.hover\:bg-gray-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(82, 82, 82, var(--tw-bg-opacity));
}

.border-gray-50 {
  --tw-border-opacity: 1;
  border-color: rgba(250, 250, 250, var(--tw-border-opacity));
}

.rounded {
  border-radius: 0.25rem;
}

.border-0 {
  border-width: 0px;
}

.border-t-0 {
  border-top-width: 0px;
}

.border-r-0 {
  border-right-width: 0px;
}

.border-l-0 {
  border-left-width: 0px;
}

.border-b {
  border-bottom-width: 1px;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-none {
  flex: none;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-full {
  height: 100%;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mr-8 {
  margin-right: 2rem;
}

.ml-auto {
  margin-left: auto;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.overflow-auto {
  overflow: auto;
}

.overflow-visible {
  overflow: visible;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-0\.5 {
  padding: 0.125rem;
}

.p-1\.5 {
  padding: 0.375rem;
}

.p-3\.5 {
  padding: 0.875rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-left-10 {
  left: -2.5rem;
}

* {
  --tw-shadow: 0 0 #0000;
}

* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.fill-current {
  fill: currentColor;
}

.text-gray-50 {
  --tw-text-opacity: 1;
  color: rgba(250, 250, 250, var(--tw-text-opacity));
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgba(229, 229, 229, var(--tw-text-opacity));
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgba(16, 185, 129, var(--tw-text-opacity));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.select-none {
  user-select: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-28 {
  width: 7rem;
}

.w-48 {
  width: 12rem;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: lightgray #262626;
  scrollbar-width: thin;
}

body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
  --topNavH: 3rem;
  --sideNavW: 15rem;
}

#c {
  position: absolute;
  width: calc(100% - var(--sideNavW));
  height: calc(100% - var(--topNavH));
  bottom: 0;
  right: 0;
}

.topNav {
  position: absolute;
  height: var(--topNavH);
  left:0;
  right:0;
  top:0;
}

.sideNav {
  position: absolute;
  top: var(--topNavH);
  left: 0;
  bottom: 0;
  width: var(--sideNavW);
}

.dialog {
  position: absolute;
  height: var(--topNavH);
  left:0;
  right:0;
  top:0;
}

#labels > div {
  position: absolute;
  color: white;
}

.btn {
  cursor: pointer;
  background-color: transparent;
}

.btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(82, 82, 82, var(--tw-bg-opacity));
}

.btn {
  fill: currentColor;
}

.btn-green {
  cursor: pointer;
  background-color: transparent;
  fill: currentColor;
  --tw-text-opacity: 1;
  color: rgba(229, 229, 229, var(--tw-text-opacity));
}

.btn-green:hover {
  --tw-text-opacity: 1;
  color: rgba(16, 185, 129, var(--tw-text-opacity));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
  /* border:none; */
  background-color:transparent;
  outline: none;
  text-align:right;
}

.arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
  border: solid 6px transparent;
  border-bottom-color: #3F3F46;
  border-top: none;
}

.drop-down-top {
  top: calc(var(--topNavH) + 6px);
}

.hide-scroll{
  scrollbar-width: none;  /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

::-webkit-scrollbar {
  width: 0.375rem;
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }

  .md\:justify-between {
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .lg\:flex {
    display: flex;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}

