/* @tailwind base; */
@tailwind utilities;


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
  --topNavH: 48px;
  --sideNavW: 200px;
}

#c {
  position: absolute;
  width: calc(100% - var(--sideNavW));
  height: calc(100% - var(--topNavH));
  bottom: 0;
  right: 0;
}
.topNav {
  position: absolute;
  height: var(--topNavH);
  left:0;
  right:0;
  top:0;
}
.sideNav {
  position: absolute;
  top: var(--topNavH);
  left: 0;
  bottom: 0;
  width: var(--sideNavW);
}


#labels > div {
  position: absolute;
  color: white;
}

.btn {
  cursor: pointer;
  @apply fill-current
        bg-transparent       text-gray-200
  hover:bg-gray-500 hover:text-gray-200;
}

.btn-light {
  cursor: pointer;
  @apply fill-current
        bg-transparent       text-gray-700
  hover:bg-gray-300 hover:text-gray-700;
}


.btn-green {
  cursor: pointer;
  @apply fill-current
        bg-transparent       text-gray-200
  hover:bg-transparent hover:text-green-200;
}



.tooltip {
  position: fixed;
  display: block;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  visibility: hidden;
  border: solid 1px white;

}

.arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
  border: solid 6px transparent;
  border-bottom-color: white;
  border-top: none;
}