/* @tailwind base; */
@tailwind utilities;

/* html, */
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
  --topNavH: 36px;
  --sideNavW: 200px;
}

#c {
  position: absolute;
  width: calc(100% - var(--sideNavW));
  height: calc(100% - var(--topNavH));
  bottom: 0;
  right: 0;
}
.topNav {
  position: absolute;
  height: var(--topNavH);
  left:0;
  right:0;
  top:0;
}
.sideNav {
  position: absolute;
  top: var(--topNavH);
  left: 0;
  bottom: 0;
  width: var(--sideNavW);
}


#labels > div {
  position: absolute;
  border: solid 1px black;
}

.btn {
  cursor: pointer;
  @apply fill-current
        bg-gray-100       text-green-600
  hover:bg-gray-200 hover:text-green-700;
}
