
#react {
  // position: absolute;
  // right:0;
  // bottom:0;
}

.buttons-group {
  position: absolute;
  left:0;
  display: flex;
  flex-direction: column;
}


.feature-tree {
  color: red;
  position: absolute;
  right:0;
  // bottom:0;
}
